@font-face {
 font-family:UrduFont;
 src: url("../fonts/nwn.eot") /* EOT file for IE */
}
@font-face {
 font-family:UrduFont;
 src: url("../fonts/nwn.ttf") /* TTF file for CSS3 browsers */
}

.suggest { font-size:16px; background:#FFF; cursor:default;}

.autocomplete-w1 { background:url(../images/shadow.png) no-repeat bottom right; position:absolute; top:0px; left:0px; margin:8px 0 0 6px; /* IE6 fix: */ _background:none; _margin:0; }
.autocomplete { border:1px solid #999; font-family:UrduFont; font-size:16px; background:#FFF; cursor:default;  max-height:350px; overflow:auto; margin:-6px 6px 6px -6px;/* IE6 specific: */ _height:350px;  _margin:0; _overflow-x:hidden;  }
.autocomplete .selected { background:#CDE0FE; border:none }
.autocomplete div { padding:2px 25px; white-space:nowrap; text-align:left; font-family:"UrduFont"; font-size:18px; }
.autocomplete strong { font-weight:normal; color:#3399FF; }
